.slider {
    border: 2px solid #000;
    max-width: 30%;
    margin: 20px auto;
    overflow: hidden;
   
    
    
}
.slider-line {
    display: flex;
    background: orange;
    transition: all ease 1s;
}
h1{
    text-align: center
}
.container {
    
    border: 2px solid seagreen
}
button {
    
    background: rgb(38, 186, 231);
}
.box {
    display: flex;
    justify-content: space-around;
}
